<%- include("../includes/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>User Management System</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="/users" class="btn btn-primary">Show Users</a>
            <a href="/add" class="btn btn-primary">Add User</a>
        </div>
    </div> 
</div>

<%- include("../includes/footer") %>
