html, body {
  width: 100%;
  height: 100%;
}

html, body, div {
  display: flex;
  flex-direction: column;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.person td{
  vertical-align: middle;
}