<%- include("../includes/header") %>

    <%- include("../includes/menu") %>
    
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Username: <%= userName ? userName: 'No Username'; %></h1>
            </div>
        </div>
    </div>

<%- include("../includes/footer") %>